
.text-font {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
.text-main {
    color: #76b729 !important;
}
.background-main {
    background-color: #76b729;
}

.background-nav-color {
    background-color: black;
    
}

